/* Custom CSS for SwarmSummerSchool 2026 */

/* Add a line to the active menu item in the left sidebar */
.md-nav__item--active > .md-nav__link {
    border-left: 3px solid var(--md-accent-fg-color);
    padding-left: 0.5rem; /* Ensure the text doesn't hit the border */
    font-weight: 700;
}

/* Optional: add a slight glow effect to the border */
.md-nav__item--active > .md-nav__link {
    box-shadow: -2px 0px 8px -2px var(--md-accent-fg-color);
}
